*.pth
**/__pycache__
*.mat
*.png
*.jpg
*.JPG
*.exr
*.sh
*.a
*.so
**/runs/*
**/build/*
**/CMakeFiles/*
.vscode/*
*.tflite
supportlib/bin
supportlib/deps
*.npy
*.ttf
*.mp4
/autolabel/output
datasets/*
.fuse_hidden*